p {
    color: brown;
}
.title2 {
    color: goldenrod;
    font-size: 80px;
    font-weight: bold;
    margin: 50px;
    text-align: center;
}
.deteils {
    text-align: center;
    color: goldenrod;
    font-size: 30px;
}
#box {
    width: 40%;
    color: goldenrod;
}
#allp_form {
    width: 200px;
}
#img {

    max-width: 1200px;
}
#HEAD2 {
    width: 20%;
    color: goldenrod;
    text-align: center;

}
#body_style {
    width: 900px;

    padding: 10px;
    margin: 10px auto;

}
#logo2 {
    width: 1800px;
    height: 200px;
}
#simvol {

}
body {
    background-image: url("../img/untitled (2).png");

}
#ltd {
    width: 100px;
    height: 100px;
}
#ltd2 {
    width: 100px;
    height: 100px;
}

