p {
    color: brown;
}
.title2 {
    color: goldenrod;
    font-size: 30px;
    font-weight: bold;
    margin: 50px;
}
.deteils {

}
#box {
    width: 40%;
}
#allp_form {
    width: 700px;
    background-position: right;
}
#img {

    max-width: 1200px;
}
#HEAD2 {
    width: 20%;
    color: goldenrod;
    text-align: center;

}
#body_style {
    width: 900px;

    padding: 10px;
    margin: 10px auto;
    background-color: #ffffff;
}
#logo2 {
    width: 1800px;
    height: 200px;
}
#simvol {

}
body {
    background-image: url("../img/untitled (2).png");

}
#simvol {
    background-position: left bottom;
}
#ltd {
    width: 100px;
    height: 100px;
}
#ltd2 {
    width: 100px;
    height: 100px;
}
